.container{
    margin-top: 10px;
   background-color: rosybrown;
}
.alto1{
height: 500px;
}
.alto2{
    height: 200px;
}
.alto3{
    height: 300px;
}
.alto4{
    height: 100px;
}
.alto5{
    height: 150px;
}
